<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Über diese App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-label>Token, um Installation der App mit <i>Firebase Cloud Messaging (FCM)</i> direkt zu adressieren:</ion-label>

    <ion-textarea
      readonly
      rows="5"
      [(ngModel)]="fcmToken">
    </ion-textarea>

    &nbsp;

    <ion-button expand="block"
                color="primary"
                (click)="onZwischenablageButton()">In Zwischenablage kopieren</ion-button>
    &nbsp;

    <ion-item>
      <ion-label>Push-Berechtigung:</ion-label>
      <ion-text>{{berechtigungsStatus}}</ion-text>
    </ion-item>

</ion-content>
