<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Über diese App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-label>Token für Firebase Cloud Messaging (FCM):</ion-label>

    <ion-textarea 
      readonly
      rows="5" 
      [(ngModel)]="fcmToken">
    </ion-textarea>

    &nbsp;

    <ion-button expand="block" 
                color="primary"
                (click)="onZwischenablageButton()">In Zwischenablage kopieren</ion-button>
    &nbsp;

    <ion-item>
      <ion-label>Berechtigungs-Status für Push-Notificationen:</ion-label>
      <ion-text>{{berechtigungsStatus}}</ion-text>
    </ion-item>

</ion-content>
